<div class="row">
    <div class="large-12 columns">
        <section class="hero-unit">
		<!-- <h3 id="big-icon">g>st</h3> -->
		<div id="big-logo">
			<%= image_tag "eslogo.png" %>
		</div>
		<!-- <h3 id="main-logo"><span class="red">game></span>starter</h3> -->
		<div class="hero-button-wrapper">
			<p><a href="/new_event" class="large alert button">Create Event Now</a></p>
		</div>
	</section>

	<section>
		<p style="text-align:center;font-weight:bold;font-size:2em;">Start an event with a <u>minimum number</u> of people,<br>and when the event has enough people,<br>then it's on and everyone is notified.</p>
	</section>

	<section>
		<div class="row">
	    <div class="large-12 columns">
	    	<hr>
			<header>
				<p>EventStarter allows anyone to easily create and organize events that have a "tipping point" of a required number of attendees. Users can create events such as pickup games, camping trips, dinner parties, party bus excursions, etc. and invite their friends. If enough people indicate they want to attend, an email goes out to all who have signed up notifying them GameOn™.
				</p>
			</header>
			
		</div>
	</div>
	</section>
	</div>
</div>