<div class="row">
    <div class="large-12 columns">
    	<hr>
		<footer>
			<p style="text-align:center;font-weight:bold;">event &gt; starter: It Gets It Going.</p>
			<p style="text-align:center;">©2013, 200 Beers Productions.  Thanks for Using!</p>
		</footer>
	</div>
</div>